// set custom hex colors 
$siteBgColorCustom: #000000; 
$sidebarBgColorCustom: #3C3C3C;
$textColorCustom: #f7f7f4;
$sidebarTextColorCustom: #f7f7f4;
$headlineColorCustom: #f7f7f4;
$headingColorCustom: #f7f7f4;
$bodyLinkColorCustom: #BECAB0;
$navLinkColorCustom: #BECAB0;
$sidebarLinkColorCustom: #BECAB0;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #f7f7f4;
$buttonHoverBgColorCustom: #BECAB0;
$borderColorCustom: #c4beb9;
